html {
    background-color: rgb(39, 39, 39);
}

body {
    margin: auto;
    width: 21cm;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

header {
    border: 0.5cm solid cadetblue;
    background-color: cadetblue;
    text-align: center;
}

.nom {
    margin: 0cm;
}

footer {
    text-align: right;
    margin: 0cm;
    background-color: cadetblue;
    border: 0.5cm solid cadetblue;
    display: flex;
}

.footer-left {
    text-align: left;
    width: 50%;
    margin-left: 0.5cm;
}

.footer-right {
    width: 50%;
    text-align: right;
    margin-right: 0.5cm;
}

img {
    padding-right: 10px;
}

/* ------------------------------------------------- */

article {
    margin-right: 1cm;
}

h1 {
    margin-left: 2cm;
}

h2 {
    margin-left: 3cm;
    margin-bottom: 0cm;
    font-size: large;
}

p {
    margin-top: 0.2cm;
}

em {
    font-style: normal;
}

strong {
    font-weight: normal;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* -------------------- Container ------------------ */

.info-header {
    margin-bottom: 0px;
}

.objectif {
    margin-left: 4.3cm;
}

.container {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}

.left-column,
.competence-left {
    text-align: right;
    color: grey;
    width: 20%;
}

.middle-column {
    text-align: left;
    width: 50%;
}

.right-column {
    text-align: right;
    color: grey;
    width: 30%;
}

/* ------------------------------------------------- */