body {
    color: white;
    margin: 0px;
    background-color: rgb(44, 44, 44);
}

header,
footer {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(32, 32, 32);
    border: 20px solid rgb(32, 32, 32);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif;
}

h3 {
    margin: 20px;
    margin-bottom: 5px;
}

section {
    margin: 20px;
}

p {
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    margin-top: 0px;
}

.important {
    font-size: xx-large;
}