html {
    background-color: rgb(39, 39, 39);
}

body {
    margin: auto;
    width: 21cm;
    margin-top: 0cm;
    margin-bottom: 0cm;
    background-color: white;

    color: black;
}

header {
    background-color: rgb(140, 182, 221);
    border: 0.75cm solid rgb(140, 182, 221);

    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: rgb(140, 182, 221);
    border: 0.75cm solid rgb(140, 182, 221);

    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif;
}

h1 {
    margin-left: 3cm;
}

h2 {
    margin-left: 4cm;
    margin-bottom: 0.1cm;

    font-size: larger;
}

p {
    font-size: 0.42cm;
    margin: 0cm;
    margin-bottom: 0.5cm;

    font-family: Arial, Helvetica, sans-serif;
}

/* ----------- Classes ----------- */

.important {
    font-size: xx-large;

}

.left-column {
    position: relative;
    right: 17.25cm;
    float: right;

    color: grey;
}

.middle-column {
    position: relative;
    margin-left: 4cm;
}

.right-column {
    position: relative;
    bottom: 0.45cm;
    width: 100%;
    margin-right: 1cm;
    float: right;
    text-align: right;

    color: grey;
}

.content {
    margin-left: 4cm;
}

.content-category {
    position: relative;
    right: 17.25cm;
    float: right;

    color: grey;
}